// Colors
$black: #000000;
$white: #ffffff;
$orange: #fcaa67;
$red: #b0413e;
$yellow: #ffffc7;
$green: #548687;
$purple: #473335;
$grey: #464646;
$greyTwo: #d8d8d8;

html {
  background-color: $white;
}

a {
  color: inherit;
  &:hover {
    color: $red;
  }
}

p {
  margin-bottom: 0px;
  & > code {
    color: $red;
    background-color: $greyTwo;
    border-radius: 0.3em;
    padding: 4px;
  }
}

main {
  padding: 0 16px;
}

header {
  display: flex;
  margin-bottom: 16px;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  .title {
    text-align: right;
    margin: 0;
    color: $white;
    font-size: 16px;
    .site-title {
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .social {
    line-height: 17px;
    margin-right: 16px;
    a {
      padding: 0 4px;
      svg {
        color: $white;
        &:hover {
          color: $black;
        }
      }
    }
  }
}

.section-title {
  text-align: center;
  margin-top: 64px;
  font-size: 24px;
}

.posts {
  list-style: none;
  margin: 64px 0;
  a {
    text-decoration: none;
  }
  .post {
    margin-bottom: 96px;
    .post-description {
      display: grid;
      grid-template-areas: "post-image" "post-description";
      align-items: center;
      .post-image {
        grid-area: post-image;
        margin-bottom: 0;
      }
      .description {
        grid-area: post-description;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  main {
    max-width: 800px;
  }
}

.post-image {
  margin-bottom: 32px;
  max-width: 600px;
}

footer {
  width: 100%;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  background-color: $greyTwo;
  .social {
    display: flex;
    align-items: center;
    line-height: 17px;
    a {
      padding: 0 4px;
    }
  }
}

@media only screen and (min-device-width: 736px) {
  .posts {
    .post {
      .post-description {
        grid-template-areas: "post-image post-description";
        grid-template-columns: 300px auto;
        column-gap: 20px;
      }
    }
  }

  .content {
    .post-image {
      margin: 0 auto;
      margin-bottom: 64px;
    }
  }
}
