@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap");

// Colors
$black: #000000;
$white: #ffffff;
$orange: #fcaa67;
$red: #b0413e;
$yellow: #ffffc7;
$green: #548687;
$purple: #473335;
$grey: #464646;
$greyTwo: #d8d8d8;

$fontSpace: "Space Mono", monospace;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0;
  word-break: keep-all;
}

img {
  display: inline-block;
}

ul {
  margin-top: 32px;
  margin-bottom: 32px;
  li {
    margin-bottom: 8px;
  }
}

html {
  background-color: $white;
  font-family: $fontSpace;
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  &:hover {
    color: $red;
  }
}

p {
  margin: 0px;
  line-height: 32px;
  & > code {
    color: $red;
    background-color: $greyTwo;
    border-radius: 0.3em;
    padding: 4px;
  }
}

main {
  padding: 0 16px;
}

.back {
  text-decoration: none;
  color: inherit;
  display: flex;
  .back-text {
    margin-left: 8px;
  }
}

button {
  &.up {
    border: none;
    svg {
      margin-right: 8px;
    }
  }
}

.button-nav {
  display: flex;
  justify-content: space-between;
}

.align-button {
  display: flex;
  align-items: center;
}

.go-up {
  display: flex;
  justify-content: flex-end;
}

header {
  display: flex;
  margin-bottom: 16px;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  .title {
    text-align: right;
    margin: 0;
    color: $white;
    font-size: 16px;
    .site-title {
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }
  .social {
    line-height: 17px;
    margin-right: 16px;
    a {
      padding: 0 4px;
      svg {
        color: $white;
        &:hover {
          color: $black;
        }
      }
    }
  }
}

.section-title {
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: center;
  margin-top: 64px;
  .blog-title {
    font-size: 24px;
    padding: 0 16px;
  }
}

.posts {
  list-style: none;
  margin: 64px 0;
  a {
    text-decoration: none;
  }
  .post {
    margin-bottom: 96px;
    .title {
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 16px;
    }
    .post-description {
      display: grid;
      grid-template-areas: "post-image" "post-description";
      align-items: center;
      .post-image {
        grid-area: post-image;
        margin-bottom: 0;
        margin: 16px 0;
        .image {
          max-width: 100%;
          margin: 0;
        }
      }
      .description {
        grid-area: post-description;
      }
    }
  }
}

.post-image {
  margin-bottom: 32px;
  max-width: 600px;
}

.post-content {
  margin-bottom: 32px;
  blockquote {
    margin: 8px;
    background-color: $greyTwo;
    padding: 8px;
    border-radius: 4px;
  }
}

footer {
  max-width: 100%;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  background-color: $greyTwo;
  .social {
    display: flex;
    align-items: center;
    line-height: 17px;
    a {
      padding: 0 4px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    main {
      max-width: 800px;
    }
  }

  .posts {
    .post {
      .post-description {
        grid-template-areas: "post-image post-description";
        grid-template-columns: 300px auto;
        column-gap: 20px;
        .post-image {
          margin: 8px 0;
        }
      }
    }
  }

  .content {
    .post-image {
      margin: 0 auto;
      margin-bottom: 64px;
    }
  }
}
